/* Lab 2 */
body {
    background-color: rgb(189, 237, 237);

}

 h2, h3, p, ul, ol, a {
    font-size: 14px;
    color: blueviolet;
    padding: 10px 30px;
    background-color: antiquewhite;
    border: 1px dashed blue;
}

.content{
    display: flex;
    margin: 30px;
}

.content-left{
    max-width: 60%;

}

.content-right{
    max-width:40%;
}

.content-left, .content-right{
    background: blanchedalmond;
    margin: 20px 50px;
    padding: 20px;
    border-radius: 20px;
}

.content-right img{
    width:300px;
    height:300px;
    border: 5px solid rgb(61, 60, 144);
    border-radius: 50% ;

}

.header {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    padding: 10px;             /* Optional: Adds padding inside the header */
}

.header a {
    margin-left: 15px;         /* Adds spacing between links */
    text-decoration: none;     /* Removes underline from links */
    color: #333;               /* Link color */
    font-weight: bold;
}


.container {
    display: flex;
    justify-content:space-around;
    text-align: center;
    background-color: lightgray;
}
.block {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.container-2 {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: lightblue;
}
.block-2 {
    width: 200px;
    height: 200px;
    margin:20px;
    background-color: green;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: pink;
    border: 2px solid black;
}
.block-3 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 5px;
}

.container-4 {
    width:500px;
    height: 500px;

    display: flex;
    background-color: rgb(251, 251, 251);
    border: 5px solid black;
}
.block-4 {
    width:100px;
    height: 100px;
    border: 5px solid rgb(31, 19, 19);
    margin: 5px;
}

.part-1{
    position: absolute;

    border: 5px solid rgb(249, 0, 0);
}
.part-2{
    position: absolute;

    margin-top: 70px;
    margin-left: 70px;
    border: 5px solid rgb(9, 5, 236);

}
.part-3{

    margin-top: 140px;
    margin-left: 140px;
    border: 5px solid rgb(24, 103, 44);

}